<div style="margin: 0vh 15vw">
  <div class="row">
    <div class="col m-3">
      <div class="text-center">
        <img class="rect" src="/editorial/{{photo}}" alt="">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col d-flex justify-content-center">
      <div class="align-self-center m-3">
        <h1 class=" bungee">{{title}}</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col ">
      <div class="m-2">
        <p style="font-size: 1.2em" class=" pacifico ">Written By {{penName}}</p>
        <p style="font-size: .7em" class=" bungee ">Instagram: {{handle}}</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col ">
      <div class="m-2">
        <p style="font-size: 1em" class=" fira-sans "> Caramels ice cream jelly ice cream. Sesame snaps jelly beans chocolate. Halvah lemon drops croissant caramels croissant pastry icing jelly caramels. Sweet tootsie roll jelly biscuit marzipan icing powder macaroon soufflé. Gummi bears liquorice danish dragée carrot cake tiramisu. Cake biscuit toffee cake liquorice marzipan wafer cake. Lemon drops macaroon sesame snaps cake toffee tart cake. Liquorice toffee candy canes. Cupcake wafer cheesecake topping muffin jelly-o marzipan. Jelly-o tiramisu cake pastry carrot cake cake. Liquorice cheesecake jelly beans bonbon bear claw. Jelly pie cheesecake. </p>
      </div>
    </div>
  </div>
  {{#each article.article}}
  <div class="row">
    <div class="col ">
      <div class="m-2">
        <p style="font-size: 1em" class=" fira-sans ">{{this}}</p>
      </div>
    </div>
  </div>
  {{/each}}
</div>
