<div class="row justify-content-center" style="background-color: #E28413; " >
  <div class="col-6 mt-5">
    <form class="" action="/catalog/search" method="post">
      <div class="form-group">
        <input style="font-family: pacifico, sans-serif; font-size: 2em;" class="form-control" type="text" placeholder="Search" aria-label="Search">
      </div>
    </form>
  </div>
</div>

<div class="row justify-content-center" style="background-color: #E28413; " >

  {{#each catalog}}

  <div  class="col-xs-12 col-sm-6 col-md-4 col-lg-3 container shadow hover rounded border m-5 p-3"  style="background-color: white;">
    {{#if ../session.loggedIn}}
    <img class="float-right" src="/img/circleX.png" onclick="deleteArticle('{{title}}')" ></img>
    <br>
    {{/if}}
    <a class="antiAnchor" href="/article/{{this.title}}">
        <div class="row">
          <img   class="img-fluid p-3" src="/host/{{photo}}" alt="">
        </div>
        {{#if this.tagsExist}}
        <div class="row justify-content-center">
          {{#each this.tags}}
          <p style="font-size: 1em" class="tags fira-sans m-1" >{{this}}</p>
          {{/each}}
        </div>
        {{/if}}
        <div class="row">
          <p style="margin:3px auto; font-size: 1.4em;" class="text-center fira-sans pl-3 pr-3">{{this.title}}</p>
        </div>

    </a>
  </div>
  {{/each}}

</div>
